*{
    font-family: 'Lato', sans-serif;
}

.navbar-default{
    border-bottom: thin solid #E94847;
}
  
  h1{
      font-family: 'Raleway', sans-serif;
  }
  
  h2{
      font-family: 'Raleway', sans-serif;
      color: #E94847;
      line-height: 200%;
      padding-top: 1%;
      padding-bottom: 1%;
      font-size: 2em;
      text-align: center;
  }
  
  h3{
      font-family: 'Raleway', sans-serif;
  }
  
  .subtext{
      font-family: 'Lato', sans-serif;
      font-size: .75em;
      color: grey;
  }
 
 a{
     text-decoration: none;
     color: grey;
 }
 
  a:hover{
     text-decoration: none;
     color: grey;
 }
 
 a:active{
     text-decoration: none;
     color: #E94847;
 }
  
  .handwritten{
      font-family: 'Shadows Into Light', cursive;
      color: #E94847;
  }
  
  .navbar-custom{
      background-color: white;
  }

.centerBlock {
                display: table;
                margin: 0 auto;
            }
            
.vCenter { 
    display: flex; 
    align-items: center; 
}

.center{
    text-align: center;
}
            
.picResize {
    max-width: 280px;
    max-height: 280px;
}

.icon{
    max-width: 150px;
    max-height: 150px;
}

.pad-left-bottom{
    padding-left: 2%;
    padding-bottom: 20px;
}

.pad-left-right{
    padding-left: 2%;
    padding-right: 2%;
}

.pad-top-bottom{
    padding-top: 2%;
    padding-bottom: 2%;
}

.pad-bottom{
    padding-bottom: 2%;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.bottomBordered{
    border-bottom: thin solid #D4D4D4;
}

.tall{
    height: 600px;
}

.medium-height{
    height:400px;
}

.footer{
    background-color: #E94847;
    height: 100px;
    width: 100%;
}

.white{
    color:#F8F7F3;
}

.greyPattern{
    background: transparent url(../img/cubes.png);
    background-attachment: fixed;
     
}

.redPattern{
    background: transparent url(../img/cubes-red.png);
    background-attachment: fixed;
}

.picBanner{
    background-image: url(../img/brian-fade-small.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.long-row{
    white-space: nowrap;
    overflow-x: hidden;
}
.scroll-element {
    width: 100%;
    height: 250px;
    display: inline-block;
}


.wrapText{
    white-space: normal;
}